:root {
  --mainBlue: #6bbef4;
  --mainRed: #ea5647;
  --darkBlue: #014b7d;
  --lightBlue: #cfedff;
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: PublicPixel;
  src: url('./Fonts/PublicPixel-z84yD.ttf');
}

* {
  font-family: PublicPixel, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 60px;
  text-align: center;
}

#app {
  height: 100vh;
  width: 100vw;
}