:root {
  --mainBlue: #6bbef4;
  --mainRed: #ea5647;
  --darkRed: #992c1f;
  --darkBlue: #014b7d;
  --lightBlue: #cfedff;
  --gameBlue: #0093fd;
  --gameRed: #ff4b3f;
  --green: #75bb92;
  --saturatedGreen: #00ff0d;
  --darkGreen: #3c6b56;
  --yellow:#FFFD01;
  --cardYellow: #ead5a4;
  --gray: #5c6264;
  --darkPurple: #2b1a30;
  
  --h1Size: 35px;
  --h2Size: 24px;
  --buttonTextSize: 22px;
  --headerParagraphSize: 19px;
  --paragraphSize: 15px;
  --LinkSize: 12px;
  --SmallNoteSize: 10px;
  --imageButtonSize: 50px;
  --AnimationTime: 1.5s;
}

@media screen and (max-width: 1000px) {
  :root {
    --h1Size: 28px;
    --h2Size: 22px;
    --buttonTextSize: 20px;
    --headerParagraphSize: 17px;
    --paragraphSize: 13px;
    --LinkSize: 11px;
    --SmallNoteSize: 10px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --h1Size: 25px;
    --h2Size: 15px;
    --buttonTextSize: 16px;
    --headerParagraphSize: 13px;
    --paragraphSize: 8px;
    --LinkSize: 10px;
    --SmallNoteSize: 10px;
    --imageButtonSize: 40px;
  }
}

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  scroll-behavior: smooth; 
  overflow-x: hidden;
}

span {
  font-size: inherit;
}

@font-face {
  font-family: PublicPixel;
  src: url('./Fonts/PublicPixel-z84yD.ttf');
}

* {
  font-family: PublicPixel, Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  width: 100%;
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 1s infinite;
}

@keyframes flickerLines {
  0% {
    background-size: 100% 2px, 3px 100%;
  }
  50% {
    background-size: 100% 4px, 6px 100%;
  }
  100% {
    background-size: 100% 2px, 3px 100%;
  }
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  animation: flickerLines .1s infinite;
}
